# Web Framework
quart
quart-cors

# SentinelHub & Geospatial
sentinelhub
shapely
pyproj

# Data Processing
numpy
pandas


# HTTP Requests
requests

# Image Processing (for resizing)
Pillow

# Optional - for better date handling
python-dateutil